# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# VS Code settings
.vscode/

# Environment files
.env

# Mac OS
.DS_Store

# Jupyter Notebook checkpoints
.ipynb_checkpoints/

# PyInstaller build output
dist/
build/
*.spec

# Log files
*.log

# Virtual environment
venv/
.env/
ENV/
env/

# PDF
*.pdf